<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=TOSHIBA-PC\MYSQLSERVER;Initial Catalog=master;Persist Security Info=True;User ID=sa;Password=123" />
    <!--<add name="WebServerConnectionString" connectionString="Data Source=192.168.1.117;Initial Catalog=WebServer;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>